.env
myenv/
__pycache__/
.pytest_cache/
.vscode/
bot_report/
bot_report.zip
note.txt
old_versions.zip
tables_info_schema.json
sales_report_eval_queries_natural_language.json
pipeline.py
tests
sales/database_schema_fk_pk.json
sales/enriched_sales_tables_schema.json
sales/enriched_updated_sales_tables_schema.json
sales/txt_sales_tables
sales/all_sales_tables_combined.txt
knowledge_base/