fastapi
oracledb
ollama
qdrant-client
sentence-transformers
nepali-datetime
sqlglot
redis
schemas
uvicorn
python-Levenshtein
python-dotenv
google-genai
pandas
nepali-datetime
sqlalchemy
psycopg[binary]
python-dotenv
pwdlib[argon2]